https://www.analyticsvidhya.com/blog/2021/12/text-classification-of-news-articles/

ปัญหาของข้อมูลชุดนี้
- ไม่รู้ว่า Label คือ column ใด
- ต้องเปลี่ยน Keywords จาก List เป็น String
- ลบเครื่องหมายต่างๆ

In [337]:
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt

#### import data from cleansing

In [338]:
df = pd.read_csv('../data/cleaned/cleaned-data.csv')

In [339]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4480 entries, 0 to 4479
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      4480 non-null   object
 1   label     4480 non-null   object
 2   headline  4480 non-null   object
 3   snippet   4472 non-null   object
 4   url       4480 non-null   object
dtypes: object(5)
memory usage: 175.1+ KB

#### Values checking

In [340]:
def find_string(a, b, c):
    '''
    ฟังชั่นสำหรับหา String จาก column อย่างเฉพาะเจาะจง
    a = DataFrame Column
    b = 
    c = ตัวอักษรที่จะค้นหา
    Return = DataFrame
    '''
    string = []
    index = []
    for i in df[a]:
        string.append(i.find(c))
    for j in df.index:
        index.append(j)
    df[b] = string
    df['index'] = index
    return df[['index',a,b]].loc[df[b] > -1]

find_string('label', 'ind', 'opinion')

      index    label  ind
1         1  opinion    0
56       56  opinion    0
58       58  opinion    0
60       60  opinion    0
63       63  opinion    0
...     ...      ...  ...
4412   4412  opinion    0
4434   4434  opinion    0
4437   4437  opinion    0
4444   4444  opinion    0
4454   4454  opinion    0

[503 rows x 3 columns]

In [341]:
def count_values():
    '''
    ฟั่งชั่นนับจำนวน Label ทั้งหมด
    Return = DataFrame 
    '''
    label = []
    u_names = []
    count = []
    for i in df.label:
        label.append(i)
    for names in label:
        if names not in u_names:
            names = str(names)
            u_names.append(names)
    for num in u_names:
        count.append(label.count(num))
    return pd.DataFrame({'Label': u_names, 'Numbers': count})
    Num_values = count_values()
    
Num_values[['Label', 'Numbers']].loc[Num_values['Numbers'] > 200]

       Label  Numbers
0         us      752
1    opinion      503
6      world      482
8       arts      346
9   business      297
18    sports      226

In [352]:
Num_values

                                                Label  Numbers
0                                                  us      752
1                                             opinion      503
2                                              health       49
3                                          crosswords       43
4                                         pageoneplus       32
5                                         todayspaper       28
6                                               world      482
7                                             science       61
8                                                arts      346
9                                            business      297
10                                           magazine       67
11                                              books      173
12                                               well       56
13                                             travel       41
14                                         technology       59
15                                           nyregion      189
16                                             movies      134
17                                         realestate      109
18                                             sports      226
19                                            theater       64
20                                             dining      104
21                                              style      133
22                                          parenting        6
23                                           briefing      100
24                                            climate       27
25                                     smarter-living       16
26                                         obituaries       13
27                                           learning      115
28                                      reader-center       23
29                                           podcasts       30
30                                         t-magazine       26
31                                             upshot       24
32                                            fashion      108
33                                         your-money       11
34                                     neediest-cases        8
35                                              admin        4
36                                              video        3
37                                         the-weekly        2
38                                          education        1
39                                            article        6
40                                        automobiles        1
41                                      sunday-review        3
42                                              audio        3
43                                         multimedia        1
44  questions-on-witnesses-and-whistle-blower-at-i...        1

In [342]:
us_snip = ''

In [343]:
for i in df['snippet'].loc[df['label'] == 'politics']:
    i = str(i)
    us_snip += ''+ i

In [344]:
word_cloud = WordCloud(collocations = False, background_color = 'white').generate(us_snip)

#### Word cloud

In [345]:
headline = df['headline']

In [346]:
string = ''

In [347]:
for i in headline:
    string += ' '+ i

In [348]:
word_cloud = WordCloud(collocations = False, background_color = 'white').generate(string)

#### Word cloud for all articles

In [349]:
show

[<Figure size 864x864 with 1 Axes>,
 <matplotlib.image.AxesImage at 0x1fd6e970940>,
 (-0.5, 399.5, 199.5, -0.5),
 None]