https://www.analyticsvidhya.com/blog/2021/12/text-classification-of-news-articles/

ปัญหาของข้อมูลชุดนี้
- ไม่รู้ว่า Label คือ column ใด
- ต้องเปลี่ยน Keywords จาก List เป็น String
- ลบเครื่องหมายต่างๆ

In [1]:
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt

#### import data from cleansing

In [14]:
df = pd.read_csv('../data/cleaned/label 2020.01.csv')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4480 entries, 0 to 4479
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   url     4480 non-null   object
dtypes: object(1)
memory usage: 35.1+ KB

#### Values checking

In [16]:
def find_string(a, b, c):
    '''
    ฟังชั่นสำหรับหา String จาก column อย่างเฉพาะเจาะจง
    a = DataFrame Column
    b = 
    c = ตัวอักษรที่จะค้นหา
    Return = DataFrame
    '''
    string = []
    index = []
    for i in df[a]:
        string.append(i.find(c))
    for j in df.index:
        index.append(j)
    df[b] = string
    df['index'] = index
    return df[['index',a,b]].loc[df[b] > -1]

find_string('url', 'ind', 'politics')

      index       url  ind
9         9  politics    0
33       33  politics    0
38       38  politics    0
68       68  politics    0
85       85  politics    0
...     ...       ...  ...
4461   4461  politics    0
4467   4467  politics    0
4469   4469  politics    0
4474   4474  politics    0
4478   4478  politics    0

[494 rows x 3 columns]

In [23]:
def count_values(a):
    '''
    a = ชื่อ column
    ฟั่งชั่นนับจำนวน Label ทั้งหมด
    Return = DataFrame 
    '''
    label = []
    u_names = []
    count = []
    for i in df[a]:
        label.append(i)
    for names in label:
        if names not in u_names:
            names = str(names)
            u_names.append(names)
    for num in u_names:
        count.append(label.count(num))
    return pd.DataFrame({'Label': u_names, 'Numbers': count})

Num_values = count_values('url')
Num_values[['Label', 'Numbers']].loc[Num_values['Numbers'] > 200]

       Label  Numbers
0         us      287
1    opinion      503
5      world      482
6   politics      494
8       arts      346
9   business      297
18    sports      226

#### Word cloud

In [ ]:
def word

In [7]:
headline = df['headline']

In [8]:
string = ''

In [9]:
for i in headline:
    string += ' '+ i

In [10]:
word_cloud = WordCloud(collocations = False, background_color = 'white').generate(string)

#### Word cloud for all articles

In [11]:
['politics' if ]

NameError: name 'show' is not defined