In [13]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

In [14]:
df = pd.read_csv('../data/cleaned/final-cleaned.csv')

In [15]:
df

      category_id  category                                           articles
0               0   opinion  congress  much protect american served country...
1               1     world  attack civilian site syria grown frequent u n ...
2               1     world  week relative calm end wednesday people march ...
3               2  politics  president monitor middle east crisis golf club...
4               3      arts  linda ronstadt sound voice air cnn new season ...
...           ...       ...                                                ...
2336            4  business  former bos premium cable network talk former v...
2337            2  politics  lobby president washington hotel supporter rem...
2338            5    sports  lakers first game  bryant daughter gianna die ...
2339            5    sports  famed run coach already bar sport  year dope v...
2340            2  politics  senator reject call additional witness preside...

[2341 rows x 3 columns]

In [16]:
cv = CountVectorizer(max_features = 5000)

In [17]:
mtr = cv.fit_transform(df['articles'].values.astype('U'))

In [18]:
x = pd.DataFrame(mtr.toarray(),columns=cv.get_feature_names())

In [19]:
x

,21st,49ers,50th,aaron,abandon,abbas,abbott,abc,abdicate,abdul,...,zephyr,zhao,zindani,zion,zionism,zoey,zone,zoning,zuberi,zverev
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2337,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2338,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2339,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2340,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
y = np.array(df.category_id.values)

In [21]:
y

array([0, 1, 1, ..., 5, 5, 2], dtype=int64)

In [22]:
print("X.shape = ",x.shape)
print("y.shape = ",y.shape)

X.shape =  (2341, 5000)
y.shape =  (2341,)

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0, shuffle = True)
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

1638
703
1638
703

In [24]:
perform_list = [ ]

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import make_scorer, roc_curve, roc_auc_score
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [26]:
y_test

array([3, 0, 3, 4, 1, 5, 1, 2, 2, 1, 5, 2, 5, 3, 2, 2, 1, 2, 1, 1, 0, 2,
       2, 1, 2, 4, 2, 0, 3, 2, 1, 3, 3, 3, 1, 4, 2, 1, 0, 0, 1, 2, 4, 1,
       0, 5, 4, 0, 1, 1, 5, 0, 2, 1, 3, 2, 5, 0, 1, 2, 4, 3, 1, 2, 3, 0,
       2, 3, 3, 2, 0, 0, 4, 4, 1, 3, 1, 2, 4, 3, 4, 2, 1, 3, 0, 0, 3, 0,
       2, 2, 2, 0, 5, 3, 2, 5, 1, 4, 2, 1, 2, 0, 3, 3, 3, 4, 4, 2, 0, 1,
       1, 2, 2, 2, 2, 1, 1, 3, 4, 4, 1, 2, 4, 4, 4, 5, 0, 2, 0, 2, 0, 1,
       3, 5, 5, 2, 2, 4, 0, 0, 5, 0, 5, 0, 1, 1, 0, 0, 0, 1, 2, 3, 1, 1,
       2, 3, 0, 2, 2, 5, 5, 3, 1, 2, 4, 3, 2, 2, 0, 4, 3, 4, 2, 4, 3, 0,
       2, 2, 4, 2, 1, 1, 1, 2, 4, 3, 4, 5, 0, 2, 1, 0, 1, 1, 3, 1, 1, 0,
       1, 1, 4, 1, 5, 3, 2, 1, 2, 1, 3, 3, 0, 1, 4, 2, 1, 2, 5, 0, 5, 5,
       0, 0, 1, 1, 4, 4, 1, 3, 4, 0, 1, 4, 3, 0, 5, 1, 5, 2, 2, 3, 4, 0,
       0, 2, 0, 0, 3, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 5, 5, 3, 1, 1, 2,
       2, 3, 4, 2, 3, 2, 0, 0, 1, 0, 1, 2, 1, 2, 2, 3, 5, 5, 0, 1, 3, 4,
       1, 2, 4, 4, 0, 0, 1, 0, 5, 2, 2, 1, 4, 5, 2, 1, 0, 0, 2, 1, 5, 1,
       4, 0, 3, 4, 1, 3, 2, 1, 4, 0, 1, 3, 2, 0, 1, 3, 0, 3, 0, 4, 1, 1,
       4, 1, 3, 0, 4, 3, 1, 3, 0, 2, 2, 4, 1, 0, 4, 4, 5, 5, 5, 0, 1, 1,
       3, 3, 1, 0, 1, 4, 0, 1, 4, 4, 3, 2, 3, 1, 1, 1, 0, 2, 1, 2, 1, 3,
       2, 0, 2, 4, 3, 2, 2, 1, 4, 3, 0, 0, 0, 4, 2, 0, 3, 2, 2, 1, 2, 0,
       3, 1, 3, 0, 5, 2, 1, 3, 4, 4, 1, 1, 4, 2, 3, 0, 1, 3, 0, 2, 0, 5,
       1, 2, 2, 1, 2, 1, 0, 4, 2, 5, 2, 0, 1, 4, 3, 5, 5, 2, 1, 1, 2, 4,
       4, 0, 1, 4, 2, 2, 2, 2, 4, 1, 2, 4, 2, 2, 1, 3, 0, 3, 0, 5, 4, 2,
       0, 1, 0, 2, 5, 3, 1, 3, 4, 3, 1, 3, 3, 2, 3, 1, 1, 1, 1, 3, 1, 5,
       2, 0, 4, 0, 0, 1, 4, 0, 0, 5, 1, 0, 2, 2, 3, 2, 2, 4, 4, 0, 5, 2,
       1, 0, 0, 1, 5, 2, 1, 1, 4, 4, 3, 4, 1, 0, 1, 5, 4, 2, 2, 1, 0, 3,
       4, 5, 0, 5, 1, 0, 1, 2, 0, 3, 5, 0, 5, 1, 0, 0, 3, 3, 2, 1, 3, 1,
       0, 1, 0, 2, 5, 0, 0, 0, 1, 4, 2, 2, 1, 2, 2, 2, 1, 3, 2, 3, 1, 1,
       2, 4, 0, 2, 4, 3, 2, 0, 0, 3, 2, 2, 3, 4, 1, 2, 4, 3, 1, 0, 2, 4,
       0, 0, 2, 2, 4, 1, 3, 0, 1, 4, 3, 0, 4, 4, 0, 4, 2, 0, 2, 3, 4, 0,
       2, 0, 3, 0, 5, 5, 0, 1, 2, 0, 4, 1, 0, 5, 1, 1, 0, 5, 1, 0, 2, 3,
       0, 1, 4, 3, 3, 3, 1, 4, 0, 2, 1, 3, 4, 5, 4, 5, 0, 1, 2, 3, 3, 5,
       2, 1, 2, 2, 3, 0, 2, 5, 2, 1, 3, 0, 5, 4, 1, 2, 0, 3, 1, 1, 0, 3,
       4, 4, 4, 2, 0, 1, 0, 1, 0, 0, 0, 4, 5, 2, 2, 4, 5, 1, 5, 4, 5],
      dtype=int64)

In [27]:
x_test

,21st,49ers,50th,aaron,abandon,abbas,abbott,abc,abdicate,abdul,...,zephyr,zhao,zindani,zion,zionism,zoey,zone,zoning,zuberi,zverev
1410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1949,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1265,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
511,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1045,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
def run_model(model_name, est_c, est_pnlty):
    mdl=''
    if model_name == 'Logistic Regression':
        mdl = LogisticRegression()
    elif model_name == 'Random Forest':
        mdl = RandomForestClassifier(n_estimators=100 ,criterion='entropy' , random_state=0)
    elif model_name == 'Multinomial Naive Bayes':
        mdl = MultinomialNB(alpha=1.0,fit_prior=True)
    elif model_name == 'Support Vector Classifer':
        mdl = SVC()
    elif model_name == 'Decision Tree Classifier':
        mdl = DecisionTreeClassifier()
    elif model_name == 'K Nearest Neighbour':
        mdl = KNeighborsClassifier(n_neighbors=10 , metric= 'minkowski' , p = 4)
    elif model_name == 'Gaussian Naive Bayes':
        mdl = GaussianNB()
    oneVsRest = OneVsRestClassifier(mdl)
    oneVsRest.fit(x_train, y_train)
    y_pred = oneVsRest.predict(x_test)
    # Performance metrics
    accuracy = round(accuracy_score(y_test, y_pred) * 100, 2)
    # Get precision, recall, f1 scores
    precision, recall, f1score, support = score(y_test, y_pred, average='micro')
    print(f'Test Accuracy Score of Basic {model_name}: % {accuracy}')
    print(f'Precision : {precision}')
    print(f'Recall : {recall}')
    print(f'F1-score : {f1score}')

    # Add performance parameters to list

    perform_list.append(dict([

    ('Model', model_name),

    ('Test Accuracy', round(accuracy, 2)),

    ('Precision', round(precision, 2)),

    ('Recall', round(recall, 2)),

    ('F1', round(f1score, 2))

    ]))

In [29]:
run_model('Logistic Regression', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Logistic Regression: % 69.56
Precision : 0.6955903271692745
Recall : 0.6955903271692745
F1-score : 0.6955903271692745

In [30]:
run_model('Random Forest', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Random Forest: % 69.7
Precision : 0.6970128022759602
Recall : 0.6970128022759602
F1-score : 0.6970128022759602

In [31]:
run_model('Multinomial Naive Bayes', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Multinomial Naive Bayes: % 68.56
Precision : 0.6856330014224751
Recall : 0.6856330014224751
F1-score : 0.6856330014224751

In [32]:
run_model('Support Vector Classifer', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Support Vector Classifer: % 70.13
Precision : 0.701280227596017
Recall : 0.701280227596017
F1-score : 0.701280227596017

In [33]:
run_model('Decision Tree Classifier', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Decision Tree Classifier: % 48.93
Precision : 0.48933143669985774
Recall : 0.48933143669985774
F1-score : 0.48933143669985774

In [34]:
run_model('K Nearest Neighbour', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic K Nearest Neighbour: % 26.46
Precision : 0.26458036984352773
Recall : 0.26458036984352773
F1-score : 0.26458036984352773

In [35]:
run_model('Gaussian Naive Bayes', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Gaussian Naive Bayes: % 38.69
Precision : 0.3869132290184922
Recall : 0.3869132290184922
F1-score : 0.3869132290184922

In [36]:
model_performance = pd.DataFrame(data=perform_list)
model_performance = model_performance[['Model', 'Test Accuracy', 'Precision', 'Recall', 'F1']]
model_performance

                      Model  Test Accuracy  Precision  Recall    F1
0       Logistic Regression          69.56       0.70    0.70  0.70
1             Random Forest          69.70       0.70    0.70  0.70
2   Multinomial Naive Bayes          68.56       0.69    0.69  0.69
3  Support Vector Classifer          70.13       0.70    0.70  0.70
4  Decision Tree Classifier          48.93       0.49    0.49  0.49
5       K Nearest Neighbour          26.46       0.26    0.26  0.26
6      Gaussian Naive Bayes          38.69       0.39    0.39  0.39

In [37]:
classifier = RandomForestClassifier(n_estimators=100 ,criterion='entropy' , random_state=0).fit(x_train, y_train)
classifier
y_pred = classifier.predict(x_test)

In [38]:
text = ["I'm going to invest my company"]

In [39]:
y_pred1 = cv.transform(text)
yy = classifier.predict(y_pred1)
result = ""
if yy == [0]:
    result = "opinion"
elif yy == [1]:
    result = "world"
elif yy == [2]:
    result = "Politics News"
elif yy == [3]:
    result = "arts"
elif yy == [4]:
    result = "business"
elif yy == [5]:
    result = "sports"
print(result)

business