## Data prep

In [99]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [100]:
df = pd.read_csv('data-set/training-set(news).csv')

### Split Train_set and Test_set

#### To split by 0.2 ratio (88 : 22) and using numpy random permutation to random the data

In [101]:
import numpy as np

def split_test_train(data, ratio):
    shuffled_indices = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return data.iloc[train_indices],  data.iloc[test_indices]

In [102]:
train_set, test_set = split_test_train(df, 0.2)

In [103]:
len(train_set), len(test_set)

(88, 22)

In [104]:
train_set

,DATE,TIME,LABEL,NEWS TOPPIC,ARTICLE
95,27-ก.พ.-21,4:00,Tech,Xiaomi steps up Thai investment,"Despite the economic stalemate, Chinese tech g..."
58,27-ม.ค.-21,4:00,Auto,Retest senior drivers for road safety,Should senior drivers holding lifetime driving...
37,1-มี.ค.-21,12:30,Business,Don't isolate Myanmar,"Directly or indirectly, the military has alway..."
90,1-มี.ค.-21,9:30,Tech,Apple privacy moves to kneecap Facebook revenue,The upcoming iOS 14 update will give users the...
66,1-มี.ค.-21,4:30,Life,A reflection of the fragility of life,The greatness of nature and the fragility of l...
...,...,...,...,...,...
65,1-มี.ค.-21,4:30,Life,Point of no return,Campaigners are hoping to raise public awarene...
57,5-ก.พ.-21,8:45,Auto,"Ford to speed up push to electric autos, digit...",NEW YORK - Ford announced Thursday a dramatic ...
99,24-ก.พ.-21,4:00,Tech,Most large firms seen using AI by 2025,"By 2025, 97% of large companies globally will ..."
103,19-ก.พ.-21,4:00,Property,Ananda to launch 5 projects,"After freezing new project launches last year,..."
33,1-มี.ค.-21,12:59,Business,Samut Sakhon central shrimp market reopens,SAMUT SAKHON: The Central Shrimp Market of thi...

In [118]:
test_set.describe()

,DATE,TIME,LABEL,NEWS TOPPIC,ARTICLE
count,22,22,22,22,22
unique,8,15,10,22,22
top,1-มี.ค.-21,4:00,Life,Drones using AI to track rare Maui dolphins,Thirty-three people were confirmed injured dur...
freq,10,5,4,1,1

In [114]:
test_set['LABEL']

74       Sports
81       Travel
77       Sports
68         Life
93         Tech
47      Opinion
6       General
86       Travel
0       General
4       General
104    Property
67         Life
36     Business
92         Tech
19     Politics
80       Travel
52         Auto
51         Auto
61         Life
18     Politics
11     Politics
64         Life
Name: LABEL, dtype: object

In [110]:
train_set['LABEL']

95         Tech
58         Auto
37     Business
90         Tech
66         Life
         ...
65         Life
57         Auto
99         Tech
103    Property
33     Business
Name: LABEL, Length: 88, dtype: object